* {
    text-align: center;
    overflow: hidden;
}

body {
    display: flex;
    text-align: center;
    justify-content: center;
}

body .cell {
    background-color: black;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

body .cell .screen {
    /* background-image: url(./Original/screen.jpg); */
    width: 290px;
    height: 570px;
    position: relative;
    top: 16px;
    border-radius: 5px;
    background-position: center;
}

body .cell .screen .camera {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    position: relative;
    left: 135px;
    top: 5px;
    border: 1px solid white;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .cell .screen .nav {
    position: fixed;
    top: 580px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    z-index: 100;

}


body .cell .screen .nav button {
    margin: 0 37px;
}

body .cell .screen .innerscreen {
    position: relative;
    top: -10px;
    width: 100%;
    height: 100%;
    background-color: rgb(2, 2, 2);
    color: white;
    border-radius: 10px;
    z-index: 2;
}

.top {
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Time {
    font-size: 40px;
}

.pin {
    display: none;
}

.passwordEnter {
    padding: 5px;
    border: none;
    background-color: green;
    color: white;
}

.landingPage {
    position: relative;
    top: -10px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    z-index: 2;
}

.landingPage .landingPageTime {
    position: relative;
    left: -30px;
}

.lower {
    position: relative;
    top: 475px;
    display: flex;
    justify-content: space-around;
}

.ContactsList {
    background-color: rgb(247, 175, 188);
    display: none;
}

.ContactsListFaceTop {
    background-color: rgb(245, 217, 222);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    padding: 4px;
}

.ContactsListFaceTop span:hover {
    background-color: rgb(251, 185, 185);
    cursor: pointer;

}

.ContactsListFaceTopAdd,
.ContactsListFaceTopOption {
    position: relative;
    left: 190px;
    margin: 0 10px;
}

.ContactsPic {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    margin: 0 10PX;
    background-color: rgb(17, 227, 242);
}

.ContactsName {
    font-size: medium;
}

.contact {
    display: flex;
    justify-content: flex-start;
    animation: land .5s linear ease-in .5s;
    transition: .5s;
}

hr {
    width: 70%;
}

@keyframes land {
    from {
        scale: .2;
    }

    to {
        scale: 1;
    }
}

#Contacts {
    width: 100%;
    height: 100%;
}

#Messages {
    width: 100%;
    height: 100%;
}

#Gallary {
    width: 100%;
    height: 100%;
}

#Chrome {
    width: 100%;
    height: 100%;
}

#Calls {
    width: 100%;
    height: 100%;
}

#Lock {
    justify-content: space-around;
}

#LockPhone {
    position: absolute;
    width: 40px;
    left: 20px;
    display: flex;
    bottom: 40px;
}


#LockCamera {
    position: absolute;
    right: 10px;
    display: flex;
    bottom: 20px;
}

.LandApp {
    width: 40px;
}

.LandApp:hover {
    box-shadow: 0 0 20px black;
}